
<h1>New Patient</h1>

<%= form_with(model: @patient, url: patients_path, local: true) do |f| %>
  <% if @patient.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gender %>
    <%= f.select :gender, ['Male', 'Female', 'Other'], prompt: 'Select gender', class: "form-control" %>
  </div>

  <%= f.submit "Create Patient", class: "btn btn-primary" %>
<% end %>
